.section-speicalty {
    height: 330px;
    background: #f5f5f5;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .specialty-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                cursor: pointer;

                &:hover {
                    color: #ffff;
                    background: #f7d800;
                }
            }
        }

        .specialty-body {
            .specialty-customize {
                .bg-image {
                    height: 150px;
                    width: 278px;
                    background: url("../../../assets/specialty/co-xuong-khop.jpg");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }
            //reset slick slider css
            .slick-prev {
                border: 2px solid #d7d7d7 !important;
                // position: relative !important;
                left: -10px !important;
                z-index: 1000;
                height: 48px !important;
                width: 44px !important;
                background: #ffff !important;

                &:hover {
                    background: #eceaca !important;
                }
            }
            .slick-prev:before,
            .slick-next:before {
                font-family: FontAwesome !important;
                // content: "\e5cb" !important; //unicode
                color: grey !important;
            }

            .slick-next {
                border: 2px solid #d7d7d7 !important;
                right: -10px !important;
                height: 48px !important;
                width: 44px !important;
                background: #ffff !important;

                &:hover {
                    background: #eceaca !important;
                }
            }
            // .slick-next:before {
            //     content: "\e5cc" !important;
            //     color: grey !important;
            // }
        }
    }
}
