.section-speicalty {
    height: 330px;
    background: #f5f5f5;
}
//reset slick slider css
.slick-prev {
    border: 1px solid green !important;
    position: relative !important;
    left: 0 !important;
}

.slick-next {
    border: 1px solid green !important;
    right: 0 !important;
}
