.home-header-container {
    height: 100px;
    width: 100%;
    padding: 20px 100px;

    .home-header-content {
        width: 100%;
        height: 60px;
        display: flex;

        .left-content {
            width: 20%;
            display: flex;
            align-items: center;

            .header-logo {
                height: 100%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.5, 0.5);
                margin-left: -45px;
            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subs-tilte {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    color: #49bce2;
                    margin-right: 5px;
                }
            }

            .language-vi {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 1;

                    span {
                        color: #f7d800;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .language-en {
                margin: 0 10px;
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    opacity: 0.8;

                    span {
                        color: #49bce2;
                    }
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.home-header-banner {
    background-image: url("../../assets/header_background.jpg");
    height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
        height: 65%;
        padding-top: 15px;

        .title1 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            margin-top: 30px;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            color: white;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }

        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                outline: none;
                border: none;
            }
        }
    }

    .content-down {
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
        padding-bottom: 10px;

        .options {
            text-align: center;
            display: flex;
            gap: 30px;
            justify-content: center;

            .options-child {
                width: 100px;

                .icon-child {
                    background: white;
                    width: 55px;
                    height: 55px;
                    padding: 7px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    border: none;
                    box-shadow: 1px 2px 4px #333;

                    .icon {
                        // background-image: url("../../assets/icon1.png");
                        height: 35px;
                        width: 40px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}
